<header class="main-header">
    <div class="grid">
        <div class="logo"><img src="/assets/img/logo.svg" alt="Wally Logo"></div>
        <nav>
            <a href="//hiwally.co">hiwally.co</a>
        </nav>
    </div>
</header>
